<!DOCTYPE html>
<html lang="en" ng-app="forum">
<head>
    <meta charset="UTF-8">
    <title>Fora by Robusta Code</title>
    <link rel="stylesheet" type="text/css" href="../css/fora.css"/>
    <title>Forum</title>

    <script type="text/javascript" src="../javascripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="../javascripts/mock-data.js"></script>
    <script type="text/javascript" src="forum.js"></script>


    <style>
        .like{
            color : green;
        }
        .dislike{
             color: red;
        }



    </style>

</head>
<body>

<div ng-controller="ForumController">

    <h2>Liste des utilisateurs :</h2>
    <ul>
        <li ng-repeat="user in users">
            {{user.id}} : {{user.name}} ({{user.email}})
        </li>
    </ul>


<br/>

    <h3>Sélectionnez un topic :</h3>
    <select ng-model="model.selectedTopic" ng-options="topic.title for topic in topics"> </select>
    <h3> {{model.selectedTopic.title}} </h3>

    <ul>
        <li ng-repeat="comment in model.selectedTopic.comments">
            {{!comment.user.name ? "Anonymous" : comment.user.name}} : {{comment.content}}
        </li>
    </ul>

    <form novalidate>
        <select ng-model="commentModel.user" ng-options="user.name for user in users"></select>
        <textarea ng-model="commentModel.content" required></textarea>
        <button ng-click='createComment(commentModel)'>Submit</button>
    </form>

</body>



</html>